body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.skill-icon {
    height: 150px;
    width: 150px;
    padding: 10px;
    margin: 15px;
}
 .abilities {
     margin-top: auto;
     font-family: 'Lato', sans-serif;
     font-weight: 900;
 }

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color:#000;
  height: 1px !important;
}

 #logo {
	height: 100px;
	width: 100px;
	
}

#troovalue {
	color: #ff0000;
    height: 100%;
    text-align: right;
    position: relative;
    margin-top: 1em;
}

.centerBlock {
    display: table;
    margin: auto;
}

.circles {
   width: 95%; 
}

.desc {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.main-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
    text-decoration: underline;
    margin: auto;
    text-align: center;
}

.card {
    box-shadow: 0 1em 2em 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 75%;
    margin:  2.5em 0em 2.5em 2.5em;
}

.avatar {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.title {
    padding: 2px 16px;
}

.title .text-center {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3em;
}
.cards {
    width: 95%;
    margin-left: 7em !important;
}

.result {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 6em;
    text-decoration: underline;
    margin-left: -1em;
}

.score {
    border-right: 1px solid;
    border-left: 1px solid;
    width: 35%;
    margin-top: 0em;
    padding: 0 3em 0 1.5em; 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
    color: black;
}

.phone {
    margin-top: 0em ;
    margin-left: 0.75em;
    margin-right: 0.25em;
    font-size: 2em;
    -webkit-text-stroke: 1px #eaeaea;
}

.mail {
    margin-top: 0em ;
    font-size: 2em;
    -webkit-text-stroke: 1.5px #eaeaea;
}

.details {
    box-shadow: inset 0px 0px 5em 5em rgba(68,68,68,0.11);
    height: 100%;
    padding-top: 1em;
    border-radius: 0 0 5px 5px;
}

div i {
    text-align: center;
}

div a {
    color: black;
}
@media only screen and (max-width: 991px) {
    .cards{
        margin-left: 2.5em !important;
    }
}

@media only screen and (max-width: 1200px) {
    .phone {
        margin-left: 0.5em;
        margin-right: 0.25em;
    }
}

@media only screen and (max-width: 1269px) and (min-width: 1200px) {
    .mail {
        margin-left: 0.5em;
    }
    .score {
        padding: 0 3em 0 1.5em;
    }
    .phone {
        margin-left: 1em;
        margin-right: 0.5em;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 1025px) {
    .mail {
        margin-left: 0.5em;
    }
    .score {
        padding: 0 2.75em 0 1.25em;
    }
    .phone {
        margin-left: 1em;
        margin-right: 0.5em;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 800px) {
    .mail {
        margin-left: 0.5em;
    }
    .score {
        padding: 0 2.75em 0 1.25em;
    }
    .phone {
        margin-left: 0.5em;
        margin-right: 0em;
    }
}

@media only screen and (min-width: 800px) {
    .phone {
        margin-left: 0.5em;
        margin-right: 0.25em;
    }
    .mail {
        margin-left: -0.5em;
    }
}

@media only screen and (max-width: 991px) {
    .desc {
        font-size: 1.25em;
    }
    .abilities {
        font-size: 2em;
    }
    .phone {
        margin-left: 1em;
    }
    .score {
        padding: 0 3.5em 0 2em;
    }
}
